
@{
    ViewBag.Title = Pocket.Common.Global.ApplicationName;
}

<h2>Support</h2>

You can email us at [support@xpertbudget.com] OR <a href="javascript:ShowCustomerRequest()" class="link"> click here </a>  to submit a support request.
