
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Categories", "CategoryChart")
</p>
<p>
    @Html.ActionLink("Subcategories", "SubcatChart")
</p>
<p>
    @Html.ActionLink("Targets", "TargetChart")
</p>
<p>
    @Html.ActionLink("Events", "EventChart")
</p>
