@model DotNet.Highcharts.Highcharts
@{
    ViewBag.Title = "HomepageChart";
}

<h2>Target Chart</h2>

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts-more.src.js"></script>

@(Model)
