@model Pocket.Models.Account

@{
    ViewBag.Title = "Share with friends";
}

<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.src.js"></script>
<script src="~/Scripts/QIE/JqGrid.js"></script>
<script src="~/Scripts/QIE/Common.js"></script>

<h2>@Model.Name</h2>

<table id="lstFriends"></table>
<div id="pgrFriend"></div>
<div>
    @Html.AntiForgeryToken()
</div>
<script type="text/javascript">
    var accid = '@Model.AccountID';

    var colNames = ['FriendID', 'Name', 'Share'];
    var colModel = [
        { name: 'FriendID', index: 'FriendID', width: 55, key: true, hidden: true },
        { name: 'Name', index: 'Name', width: 100, editable: false },
        { name: 'Share', formatter: ButtonFormatter, editable: false }
        ];
    createJQGrid('/qaccount/jshare', colNames, colModel, 'AccountID', "", "Friend List", "#lstFriends", '#pgrFriend', { AccountID: accid }, { addgrid: false, editgrid: false, sidx: 'Id' });

    function ButtonFormatter(cellvalue, options, rowObject) {
        // format the cellvalue to new format
        
        if (cellvalue && cellvalue.length > 0) {
            var tag = "<input type='button' class='btn btn-success' value='Share' onclick='shareFriend(\"" + cellvalue + "\")'/>";
            return tag;
        }
        else
            return "<label>Shared</label>";
        
    }
    function shareFriend(friendID)
    {
        PostData("/qaccount/share", { AccountID: accid, UserID: friendID }, function (data) {
            $("#lstFriends").jqGrid().trigger('reloadGrid');
        });
    }
</script>
