@model IEnumerable<Pocket.Models.Income>
@using Pocket.Common
@{
    ViewBag.Title = "Income";
}

<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/themes/redmond/jquery.ui.datepicker.css" rel="stylesheet" />

<script src="~/Scripts/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/QIE/JqGrid.js"></script>
<script src="~/Scripts/QIE/DatePickerReady.js"></script>
<p>
    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">From:</span>
                @Html.TextBox("IncomeFrom", DateTime.Now.MonthFirstDate().ToDateString(), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">To:</span>
                @Html.TextBox("IncomeTo", DateTime.Now.MonthLastDate().ToDateString(), new { @class = "form-control" })

            </div>

        </div>
        <button type="button" onclick="ReloadGrid()" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Reload</button>
    </div>
</p>
<table id="lstIncome"></table>
<div id="pgrIncome"></div>
<div>
    @Html.AntiForgeryToken()
</div>
<script type="text/javascript">
    $(document).ready(function () {
       
        $(function () {
            $("#IncomeFrom").datepicker();
        });
        $(function () {
            $("#IncomeTo").datepicker();
        });
    });
    function ReloadGrid() {
        jQuery("#lstIncome").jqGrid().setGridParam({}).trigger("reloadGrid");
    }

    var colNames = ['IncomeID', 'Date','Source', 'Account', 'Amount','Description', 'Auto Repeat'];
    var colModel = [
        { name: 'IncomeID', index: 'IncomeID', width: 55, key: true, hidden: true },
        {
            name: 'IncomeDate', index: 'IncomeDate', width: 100, editable: true, sorttype: "date",datefmt:'mm/dd/yyyy', editoptions: {
                dataInit: function (el) {
                $(el).datepicker({dateFormat:'mm/dd/yy'}); 
            }, 
                /*defaultValue: function(){ 
                    var currentTime = new Date(); 
                    var month = parseInt(currentTime.getMonth() + 1); 
                    month = month <= 9 ? "0"+month : month; 
                    var day = currentTime.getDate(); 
                    day = day <= 9 ? "0"+day : day; 
                    var year = currentTime.getFullYear(); 
                    return year+"-"+month + "-"+day; 
                } */
            },
            /*formatter: "date", formatoptions: { srcformat: 'm/d/Y', newformat: 'ShortDate' },*/ editrules: { required: true, date: true }
        },
        { name: 'SourceID', index: 'SourceID', width: 100, editable: true, edittype: 'select', editrules: { required: true }, editoptions: {dataUrl: '/incomesource/JSources' } },
        { name: 'AccountID', index: 'AccountID', width: 100, editable: true, edittype: 'select', editrules: { required: true }, editoptions: {dataUrl: '/qaccount/JAccounts'} },
        { name: 'Amount', index: 'Amount', width: 100, editable: true, editrules: { required: true, number: true } },
        { name: 'Description', index: 'Description', width: 100, editable: true, edittype: "textarea", editoptions: { rows: "3", cols: "25" } },
        { name: 'Repeat', index: 'Repeat', width: 100, editable: true, edittype: 'select', editrules: { required: false, select: true }, editoptions: { dataUrl: '/api/common/RecursionOptions' } }

    ];
    var postData = {};
    postData["IncomeFrom"] = function () { return $("#IncomeFrom").val() };
    postData["IncomeTo"] = function () { return $("#IncomeTo").val(); };

    createJQGrid('/income/jlist', colNames, colModel, 'IncomeID', "/income/jedit", "Income List", "#lstIncome", '#pgrIncome', postData, { sidx: 'IncomeDate', sord: 'desc', delgrid: true, delurl: '/income/jdelete', footerrow: true, loadComplete: loadCompleteFunc });
    function loadCompleteFunc() {
        var grid = $("#lstIncome"),
            sum = grid.jqGrid('getCol', 'Amount', false, 'sum');

        grid.jqGrid('footerData', 'set', { IncomeDate: 'Total:', Amount: sum.toFixed(2) });
    }
</script>
