<li>
    <div class="item-content">
        <div class="item-inner">
            <div class="item-title label">From</div>
            <div class="item-input">
                <input type="date" name="ReportFrom" value="{{From}}" class="item-input report-from-date" placeholder="From" />
            </div>
        </div>
    </div>
</li>
<li>
    <div class="item-content">
        <div class="item-inner">
            <div class="item-title label">To</div>
            <div class="item-input">
                <input type="date" name="ReportTo" value="{{To}}" class="item-input report-to-date" placeholder="To" />
            </div>
        </div>
    </div>
</li>