    <form id="friendedit" class="list-block">
        <input name="id" type="hidden" value="{{model.UserID}}">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Email</div>
                        <div class="item-input">
                            <input name="UserEmail" type="text" placeholder="Add By Email" value="{{model.Email}}">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-link">
                            <a href="#" class="button button-fill friend-search"><span class="ion-ios-plus" /> Add </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                
            </li>
            
        </ul>
    </form>
