    <form id="incomesourceEdit" class="list-block">
        
        <input name="SourceID" type="hidden" value="{{model.SourceID}}">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon ion-ios-lightbulb color-form-icon"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">Name</div>
                        <div class="item-input">
                            <input name="IncomeSourceName" type="text" placeholder="Income Source Name" value="{{model.Name}}">
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </form>
